.pokedex {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.carousel img {
    height: 25vh;
    width: 50vh;
    object-fit: cover;
    object-position: center;
}

.card {
    background-color: rgb(255, 4, 4);
}

.card img {
    background-color: white;
    border: 5px solid rgb(170, 7, 7);
}

.pokedex-buttons {
    position: absolute;
    margin: 49vh 30vh 0 0;
    display: flex;
    justify-content: space-between;
}

.pokedex-buttons button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

